body {
    font-family: Arial, sans-serif;
    font-size: 16px; /* Default font size for the body, you can adjust this */
}

h1, h2, h3, h4, h5, h6 {
    font-size: 1.5em; /* Adjust heading sizes as needed */
}

p {
    line-height: 1.6;
    font-size: 1em; /* Adjust paragraph text size */
}

header {
    background-color: white;
    color: black;
    padding: 10px 0;
    text-align: center;
}

#logo {
    display: inline-block;
    font-size: 24px; /* Logo size, already seems appropriate */
}

#nav-menu {
    list-style: none;
    padding: 1;
    display: inline;
}

#nav-menu li {
    display: inline; /* This makes each list item appear in a row (inline) rather than stacked vertically */
    margin: 0 10px; /* This adds horizontal spacing between each menu item */
}

#nav-menu li a {
    text-decoration: none; /* This removes the underline commonly associated with links */
    color: black; /* This sets the text color of the links */
    font-size: 1em; /* This sets the font size of the links. 1em is equal to the current font size of the element's parent */
}

#game-release {
    background-color: black;
    display: inline-block;
    color: white;
    padding: 10px;
    font-size: 1em; /* Adjust game release section text size */
}

#main-content {
    background-color: white;
    padding: 20px;
    text-align: center;
}

.game-category {
    margin: 10px;
    padding: 10px;
    border: 1px solid white;
    flex-basis: 45%;
    display: flex;
    flex-direction: column;
}

.game-category h2 {
    margin-bottom: 10px;
    display: inline-block;
    font-size: 1.2em; /* Adjust game category heading size */
}

.search-bar {
    margin-bottom: 20px;
    padding: 8px;
    border: 1px solid black;
    border-radius: 4px;
    width: 50%;
}

.radio-buttons {
    display: right;
    align-items: center;
    margin-left: 10px;
}

a {
    color: white; /* Sets the text color of links to white */
    text-decoration: none; /* Removes the underline from links */
}

a:hover, a:active, a:focus {
    text-decoration: none; /* Optional: Ensures no underline appears when the link is hovered over, clicked, or focused */
    color: white; /* Optional: Can change color on hover, active, or focus if desired */
}